@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#banner {
    background: linear-gradient(rgba(0,0,0,0.5),#009688) ,url(img/banner.jpg) ;
    background-size: cover;
    background-position: center;
    height: 150vh;
}
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 2%;
}
.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
    font-size:130px;
    font-family: 'Kaushan Script', cursive;
    position: relative;
bottom: 58px
}
.banner-text p {
    font-size: 20px;
    font-style: italic;
    text-align: left;
    padding: 5px 20px;
}
.banner-btn {
    margin:70px auto 0 ;
}
.container h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Kaushan Script', cursive;
}
.clr {
    color: white;
    font-weight: bolder;
}

@media screen and  (max-width: 770px ) {
    .banner-text h1 {
        font-size:70px;
        font-family: 'Kaushan Script', cursive;
        position: relative;
    bottom: 58px
    }
    .logo{
        width: 140px;
        position: absolute;
        top: 4%;
        left: 30%;
    }
    #banner {
        height : 160vh;
    }
}
